.PlayingList {
    display: ruby-text;
    max-width: 500px;
    margin: auto;
    padding: 10px 40px;
}

.PlayingList-header {
    margin: 20px;
    text-align: right;
}

.PlayingList-right {
    float: right;
}

.PlayingList-left {
    float: left;
}